@{
    ViewBag.Title = "Home Page";
}
<img class="myImg" src="~/Content/img/станки/1.jpg"  width=33%/>
     <img class="myImg" src="~/Content/img/станки/c306.jpg" width=33% />
          <img class="myImg" src="~/Content/img/станки/1.jpg" width=33% />

<div class="jumbotron">
    <h1>Мы ремонтируем станки</h1>
    <p class="lead">.</p>
    <p><a href="#" class="btn btn-primary btn-lg">узнать побольше &raquo;</a></p>
</div>

